.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* width: 50%; */
    width: 97.5%;
  }
  
  .bloco {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 8px 0;
    width: 100%;
    background-color: #f9f9f9;
  }
  
  .blocoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .blocoName {
    font-weight: bold;
  }
  
  .container img{
    width: 25px;
    height: 25px;
  }

  .blocoForm {
    display: grid;
    grid-template-columns: 6fr 1fr;
    gap: 16px;
    margin-top: 8px;
  }
  
  .label {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
  }
  
  .input {
    padding: 4px;
    width: 100%;
  }
    
  
  .buttonGroup {
    grid-column: span 2;
    display: flex;
    gap: 100px;
    margin-top: 8px;
  }
  
  .activeButton {
    background-color: green; 
    color: white; 
  }
  
  .inactiveButton {
    background-color: lightgray; 
    color: black;
  }
  
.addBloco{
    background-color: transparent;
    border: black;
    color: #f9f9f9;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.blocoToggle, .blocoDelete{
    background-color: transparent;
    border: transparent;
    margin-left: 8px;
}

.buttonGroup button{
    background-color: transparent;
    border: transparent;
}

.buttonContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  